/* start uplode post popup  */
.uplode-post-popup {
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    width:min(657px , 80%);
    min-height: 472px;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
     transition: .5s;
     transform: translate(-50% , -50%);
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
     &.active {
        opacity: 1;
        visibility: visible;
      }
}
/* end uplode post popup  */